.Coupons a {
  
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #f7e3e5;
  font-weight: bold;
}

.Coupons a:hover {
  text-decoration: underline;}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  background-color: #f3fcf3;
}

h1 {
  color: #a2c69f;
  width: 100%;
}

.para {
  font-style: italic;
  color: #666;
  width: 100%;
}

.coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

a:link,a:visited {
  text-decoration: none;
  color: #5f755e;
  background-color: #dcf5da;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
}
a:hover, a:active {
  background-color: #b0c9af;
}

img {
  max-width: 500px;
  height: 200px;
}

p {
  color: #a2c69f;
}
#honey {
  color:#a8aac2;
}


/* Adjustments for responsive design */
@media (max-width: 600px) {
  img {
    width: 100%;
  }
}




