* Coupons.css
.Coupons a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.Coupons a:hover {
  text-decoration: underline;
}
 */



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: #333;
  width: 100%;
}

.para {
  font-style: italic;
  color: #666;
  width: 100%;
}

.coupon {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center;
  text-align: center;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #007BFF;
}

img {
  max-width: 500px;
  height: 200px; /* Initially hide the images */
}
p{
  color: #fff;
}

/* Adjustments for responsive design */
@media (max-width: 600px) {
  img {
    width: 100%;
  }
}
