

body {
    background-color: #1f1f1f; 
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
  }
  
  .signup-page {
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    font-size: 20px; 
    max-width: 5000px; 
  }
  
  .signup-page h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px; 
    color: #ff9900;
  }
  
  .signup-page label {
    display: block;
    margin-bottom: 12px;
    font-size: 28px; 
    color: #ff9900;
    font-weight: bold;
  }
  
  .signup-page input[type='text'],
  .signup-page input[type='password'],
  .signup-page select,
  .signup-page input[type='number'] {
    width: 100%;
    padding: 15px; 
    margin-bottom: 20px;
    border: none;
    border-radius: 12px; 
    background-color: #fff; 
    color: #161515;
    font-size: 20px; 
    outline: none; 
  }
  
  .signup-page select {
    appearance: none;
  }
  .signup-page label,
.signup-page input,
.signup-page select,
.signup-page input[type='submit'] {
  opacity: 0;
  animation-fill-mode: forwards;
}

.signup-page label,
.signup-page input,
.signup-page select,
.signup-page input[type='submit'] {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px); 
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0); 
    transform: translateY(0);
  }
}

.signup-page label:nth-of-type(1),
.signup-page input:nth-of-type(1),
.signup-page select:nth-of-type(1),
.signup-page input[type='submit'] {
  animation-delay: 0.2s; 
}

.signup-page label:nth-of-type(2),
.signup-page input:nth-of-type(2),
.signup-page select:nth-of-type(2),
.signup-page input[type='submit'] {
  animation-delay: 0.4s; 
}
  
  .signup-page input[type='submit'] {
    width: 100%;
    padding: 18px; 
    border: none;
    border-radius: 12px; 
    background-color: #ff9900;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px; 
  }
  
  .signup-page input[type='submit']:hover {
    background-color: #ff6600;
  }
  