body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
  }
  
  div {
    /* max-width: px; */
    margin: 0 auto;
    padding: 20px;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  section {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  h4 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  